@tailwind base;
@tailwind components;


@tailwind utilities;

.btn {
    @apply px-6 pt-1 pb-2 rounded text-center shadow-sm transition ease-in-out duration-300  leading-snug whitespace-nowrap text-base font-semibold;
  }
  
  .btn.btn-sm {
    @apply px-4  text-sm;
  }
  
  .btn.btn-lg {
    @apply text-lg px-8 py-4;
  }
  
  .test{
    color: hsl(182, 73%, 49%);

  }
  .btn-primary {
    @apply text-white bg-primary hover:bg-primaryDark;
  }
  .btn-secondary {
    @apply text-white bg-secondary hover:bg-secondaryLight;
  }
  .btn-info {
    @apply text-white bg-info hover:bg-infoLight;
  }
  .btn-success {
    @apply text-white bg-success hover:bg-successLight;
  }
  .btn-danger {
    @apply text-white bg-danger hover:bg-dangerLight;
  }
  .btn-warning {
    @apply text-white bg-warning hover:bg-warningDark;
  }
  .btn-dark {
    @apply text-white bg-dark hover:bg-darkLight;
  }
  .btn-light {
    @apply text-dark bg-light hover:bg-lightLight;
  }
  .btn-outline-primary{
    @apply text-primary  hover:bg-primary hover:text-white border border-primary
}
  .btn-outline-secondary{
    @apply text-secondary  hover:bg-secondary hover:text-white border border-secondary
}
  .btn-outline-info{
    @apply text-info  hover:bg-info hover:text-white border border-info
}
  .btn-outline-success{
    @apply text-success  hover:bg-success hover:text-white border border-success
}
  .btn-outline-danger{
    @apply text-danger  hover:bg-danger hover:text-white border border-danger
}
  .btn-outline-warning{
    @apply text-warning  hover:bg-warning hover:text-white border border-warning
}
  .btn-outline-dark{
    @apply text-dark  hover:bg-dark hover:text-white border border-dark
}
  .btn-outline-light{
    @apply text-light  hover:bg-light hover:text-dark border border-light
}
  
.humburger{
    
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    transition: all .25s;
}
.humburger-top,
.humburger-middle,
.humburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition: all .5s;
}

.humburger-middle{
    transform: translateY(7px);
}
.humburger-bottom{
    transform: translateY(14px);
}

.open .humburger{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .humburger-middle{
    display: none;
}

.open .humburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .humburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}
/* 
.btn-primary {
    @apply  bg-brightRed rounded-full p-3 px-6 pt-2  text-white hover:bg-brightRedLight;
  }

.btn-outline-primary{
    @apply p-3 px-6 pt-2  font-bold text-brightRed bg-white rounded-full hover:bg-brightRed hover:text-white border-2 hover:border-inherit
} */